.channels {
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    width: 100%;
    background: #f7f7f7;
    overflow: auto;

    .add-channel-nav {
        padding: 10px;
        text-align: end;

        .add-btn {
            color: $main-color;
            border: 1px solid $main-color;
            display: inline-flex;
            align-items: center;
            line-height: 42px;
            padding: 0 12px;
            border-radius: 10px;
            font-weight: bold;

            img {
                width: 2em;
                height: 2em;
            }
        }
    }

    .channel-list {
        padding: 0 20px 40px;


        .channel-name {
            display: flex;
            align-items: center;
            padding: 10px 0;
        }

        .channel-item {
            padding: 10px 0;
        }

        .channel-drawer {
            padding: 0 20px;
            overflow: hidden;
            transition: all 300ms;
        }
    }

}