.history {
    padding: 0 20px;
    height: 100vh;
    overflow: auto;

    .scroll-container {
        min-height: 100vh;

        .scroll-list {
            &-item {
                border-bottom: 1px solid $border-color;
                display: flex;
                align-items: center;
            }
        }
    }
}

#first-child {
    text-align: center;
    padding: 1em 0;
}