.history {
    padding: 0 20px;
    height: 100vh;
    overflow: auto;
    .scroll-container {
       // height:  6000px;
        position: relative;
        .scroll-list {
            &-item {
                border-bottom: 1px solid $border-color;
                display: flex;
                align-items: center;
            }
        }
    }
}
