.add-channel {
  background: #fff;
  -moz-box-shadow: 0px -1px 8px #333333;
  -webkit-box-shadow: 0px -1px 8px #333333;
  box-shadow: 0px -1px 8px #333333;
  padding-bottom: 20px;
  border-radius: 8px;
  color: #808080;
  width: 90%;
  overflow: hidden;
  text-align: center;

  .add-channel-title {
    padding: 20px 20px 0;
    text-align: start;
    font-size: 15px;
    font-weight: bold;
    color: $font-color;
    background: linear-gradient(to bottom left, #DEEAFFFF, #fff, #fff);

    .close {
      width: 1em;
      height: 1em;
      right: 20px;
      top: 20px
    }
  }


  .col {
    display: flex;
    align-items: center;
    padding: 0 20px;

    .col-wrapper {
      display: flex;
      align-items: center;
      padding: 16px 0;
      border-bottom: 1px solid $border-color;
    }


    span {
      width: 4em;
      text-align: end;
      margin-right: 6px;
    }

    input {
      flex: 1;
    }

    .ipt,
    .select {
      padding: 0 1em;
    }
  }

  .add-channel-btn {
    width: 80%;
    margin-top: 16px;
    background-color: #2D78FF99;
    border: none;
    line-height: 40px;
    color: #fff;
    border-radius: 8px;
  }
}