*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 14px;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

input {
  border: none;
  background: none;
}

input:focus {
  outline: none;
  box-shadow: none;
}
